@use "_variables.scss" as *;
@use "_mixins" as *;

header {
  background-color: map-get($colores, "gris_oscuro");
  color: map-get($colores, "blanco");
  height: 10vh;
  padding: 0 2rem;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.section-logo {
  width: 30%;
  min-height: 10vh;
  align-items: center;

  img {
    width: 12.5rem;
  }
}

.header__nav {
  height: 100%;
  min-width: 42.5%;
  width: auto;

  .container-nav-items {
    width: fit-content;
    height: 100%;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    overflow: hidden;

    div {
      border-top: 2px solid map-get($colores, "gris");

      background: linear-gradient(
        to bottom,
        transparent 50%,
        map-get($colores, "gris") 50%
      );
      background-size: 100% 200%;
      transition: background-position 0.3s ease-in-out;
    }
  }
  .nav__item {
    width: 8.5rem;
    height: 100%;

    a {
      height: 100%;
      width: 100%;
      text-decoration: none;
      color: map-get($colores, "blanco");

      img {
        margin-left: 5px;
      }
    }

    &:hover {
      background-position: 0 -100%;
    }
  }

  .menu-hamburguesa {
    display: none;
  }
}

.acciones {
  width: 30%;
  justify-content: end;

  .acciones__container {
    margin-left: 5px;

    .container__busqueda {
      .busqueda__icono {
        width: 32px;
        height: 32px;
      }
    }

    gap: 0.5rem;

    .container__login {
      .boton-registrarse {
        background-color: map-get($colores, "naranja");
        height: 36px;
        width: 6.5rem;
        border-radius: 10px;
        cursor: pointer;
        transition: all 0.3s ease;

        &:active {
          transform: scale(0.95);
          transition: all 0.2s ease;
        }
        a {
          color: map-get($colores, "blanco");
          width: 100%;
          height: 100%;
          text-decoration: none;
          font-weight: 600;
        }
      }
    }

    .acciones__idioma {
      background-color: map-get($colores, "gris_claro");
      color: map-get($colores, "gris_oscuro");
      height: 36px;
      width: 6.5rem;
      padding: 5px;
      border: 0;
      border-radius: 10px;
      cursor: pointer;

      option {
        background-color: map-get($colores, "gris_claro");
        color: map-get($colores, "gris_oscuro");
        cursor: pointer;

        &:hover {
          background-color: map-get($colores, "gris_oscuro");
          color: map-get($colores, "gris_claro");
        }
      }
    }
  }

  .input-busqueda {
    width: 60%;
  }
}

// Estilos comunes para los iconos
[class$="__icono"] {
  width: map-get($tamanios, "gigante");

  &:hover {
    scale: 1.2;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
}

//estilos switch de color
.acciones__color {
  .switch {
    
    font-size: 17px;
    position: relative;
    display: inline-block;
    width: 3.5em;
    height: 2em;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    border: 1.75px solid map-get($colores, "naranja");
    background-color: map-get($colores, 'gris');
    border-radius: 30px;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.5s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 1em;
    width: 1em;
    border-radius: 50%;
    left: 10%;
    bottom: 25%;
    box-shadow: inset 8px -4px 0px 0px #fff000;
    background: var(--background);
    transition: 0.5s;
  }

  input:checked + .slider {
    background-color: map-get($colores, 'gris_oscuro');
  }

  input:checked + .slider:before {
    transform: translateX(170%);
    box-shadow: inset 15px -4px 0px 15px #fff000;
  }
}

// Ajustes para portátiles o pantallas más pequeñas (1440px)
@include responsive-layout(1440px) {
  .section-logo {
    img {
      width: 9rem;
    }
  }
}

// Estilos para tabletas (≤ 1024px)
@include responsive-layout(1024px) {
  header {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .section-logo {
    height: auto;
    width: 100%;
    text-align: center;
    a {
      width: 100%;
      img {
        width: 50%;
      }
    }
  }

  .header__nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;

    .container-nav-items {
      width: 100%;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      display: flex;
      visibility: hidden;
      transition: max-height 0.3s ease-in-out, opacity 0.5s ease-in-out,
        visibility 0.5s ease-in-out, padding 0.5s ease-in-out;

      div {
        border: 0;
      }
    }

    .menu-abierto {
      max-height: 500px;
      opacity: 1;
      visibility: visible;
      padding: 10px;
    }

    .nav__item {
      width: 100%;
      text-align: center;

      a {
        display: block;
        padding: 0.5rem 0;
      }

      &:hover {
        background-position: 0 0;
      }
    }

    .item__bookmark {
      display: none;
    }
  }

  .menu-hamburguesa {
    width: 36px;
    cursor: pointer;
    .menu-icono {
      display: block;
    }
  }

  .acciones__container {
    margin-left: 0;
  }

  .acciones {
    width: 100%;
    padding: 0.5rem 0;
    gap: 1rem;
    justify-content: space-between;

    .input-busqueda {
      height: 36px;
      width: 70%;
    }
  }

  .noticias-boton-container {
    padding: 1rem;
  }

  [class$="__icono"] {
    &:hover {
      scale: 1;
    }
  }
}

// Estilos para móviles (≤ 768px)
@include responsive-layout(768px) {
  header {
    padding: 0.5rem;
  }

  nav {
    gap: 0.25rem;
  }

  .nav__item {
    a {
      font-size: map-get($tamanios, "medio");
    }
  }

  .container__busqueda,
  .container__login {
    img {
      width: 100%;
      height: 100%;
    }
  }
}

// Estilos para móviles más pequeños (≤ 480px)
@include responsive-layout(480px) {
  header {
    width: 100vw;
  }
}
