// Variables
@use "_variables.scss" as *;

.mi-espacio-container {
  min-height: 100vh;
  width: 90%;
  margin: 0 auto;
}

.mi-espacio__titulos {
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
   padding: 0.25rem;
  .catalogo__titulo {
    transform: scale(0.9);

    .catalogo__titulo__nombre {
      font-size: map-get($tamanios, "pequenio");
    }

    .catalogo__titulo__poster{
      height: 280px;
    }
  }
}
